h4 {
  text-align: center;
}
body {
  font-family: Verdana;
}
#settings-form {
  margin: 10% auto;
  font-size: 23px;
  height: 423px;
  width: 705px;
  text-align: right;
}
#main-header {
  text-align: center;
}
#settings-form label {
  display: inline-block;
  margin-top: 5px;
}
#settings-form input[type="text"], input[type="url"]{
  width: 420px;
}
#device-type {
  width: 426px;
}
#group-limit {
  width: 426px;
}
#episode-limit {
  width: 426px;
}
#save-button {
  font-size: 23px;
  float:right;
}
#in-progress {
  min-width: 100px;
  margin: 0 auto;
}

.fright {
  float: right;
}
.fleft {
  float: left;
}
.clear {
  clear: both;
}
.red-border { 
  border: 1px solid red; 
}
.center {
  text-align: center;
}
/*--------------- options page -------------------------*/
/*--------------- table page ----------------------------*/

.data-table {
  font-size: 12px;
  min-width: 780px;
  min-height: 100px;
}
#data-table-movie td select {
  width: 355px;
  text-overflow: ellipsis;
}
#data-table-episode td select {
  width: 218px;
  text-overflow: ellipsis;
}

#refresh-block {
  padding-bottom: 7px;
}

#copy {
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -20px;
}

.red {
  color: red;
}